[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "==2.4.1"
structlog = "==21.1.0"
storage = "*"

[dev-packages]

[requires]
python_version = "3.8"
